html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
button {
  margin: 0;
  padding: 0;
  font-family: "Saira Condensed", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 15px;
  box-sizing: border-box;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.information p {
  font-size: 15px;
  text-align: left;
}

.introduction {
  max-width: 600px;
}

.title {
  color: var(--grey-color);
  letter-spacing: 0.15em;
  font-size: 15px;
  text-align: left;
}

.stefan-image img {
  max-width: 300px;
  height: auto;
  border-radius: 3px;
}

.large-line {
  border-top: 1px solid var(--grey-line);
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-section h1 {
  color: var(--grey-color);
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 0.25em;
}

.about-section h4 {
  letter-spacing: 0.15em;
}

.university-section .uni-name {
  letter-spacing: 0.25em;
  font-weight: 500;
  font-size: 27px;
}

.university-section .degree {
  color: var(--grey-color);
  letter-spacing: 0.15em;
  margin-bottom: 20px;
}

.campus-image img {
  width: 500px;
  border-radius: 3px;
}

/* -------------------------------------------------------------------------- */
.basketball-images {
  margin-right: 20px;
}

.grow img {
  height: 270px;
  width: 130px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  transition: transform 1s ease, z-index 0.5s ease;
  border: none;
}

.grow img:hover {
  transform: scale(1.5);
  z-index: 1000;
}

.grow {
  position: relative;
  transition: transform 1s ease, z-index 0.5s ease;
}

.grow-1 {
  left: 10px;
  top: -20px;
  z-index: 2;
}

.grow-3 {
  left: -10px;
  top: -20px;
}

@media (max-width: 768px) {
  .about-section {
    width: 100%;
  }

  .main-content img {
    max-width: 100%;
    height: auto;
  }

  .campus-image img {
    width: 300px;
    border-radius: 3px;
    margin-right: 15px;
  }

  .stefan-image img {
    width: 250px;
    margin-bottom: 15px;
  }

  .introduction,
  .information p {
    max-width: 400px;
  }

  .about-section h1 {
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  .university-section {
    margin-bottom: 15px;
  }

  .container h1 {
    font-size: 30px;
  }

  .container h4 {
    font-size: 15px;
  }

  .container .typewriter-text {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .sidebar {
    width: 50px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
  }

  .sidebar .icon {
    font-size: 20px;
  }
}
