body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
button {
  margin: 0;
  padding: 0;
  font-family: "Saira Condensed", sans-serif;
}

/*----------------------------- Slider-------------------------------- */

.ai-detector {
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.ai-detector-preview {
  display: flex;
}

.ai-detector img {
  height: auto;
  cursor: default;
  pointer-events: none;
}

.slide-container {
  cursor: default;
  user-select: none;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.slide-container {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 300px;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* --------------------------------------------------Download button--------------------------------------------------------- */
.Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.svgIcon {
  transition-duration: 0.3s;
  position: absolute;
  font-size: 16px;
  left: 56%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: 0.4s;
  font-size: 14px;
}

.Btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: 0.3s;
}

/* ------------------------------------------------------ */
.ai-detector .project-title {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 0.07em;
  text-align: left;
}

.title-and-download {
  display: flex;
  align-items: center;
  gap: 30px;
}

.project-purpose {
  text-align: left;
  color: var(--grey-color);
  font-size: 30px;
}

.project-desc p {
  text-align: left;
  font-size: 15px;
}

/*---------------------------- credit ---------------------------*/
.project-credit h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-credit p {
  font-size: 15px;
}

.project-credit ul {
  list-style-type: none;
}

.project-credit li {
  font-size: 15px;
}

.ai-detector .large-line {
  border-top: 1px solid var(--grey-line);
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .ai-detector {
    padding: 15px;
    margin: 0;
  }

  .ai-detector img {
    max-width: 100%;
    height: auto;
  }

  .ai-detector .project-title {
    font-size: 40px;
  }

  .ai-detector .project-desc {
    max-width: 400px;
  }

  .ai-detector img {
    width: 200px;
  }

  .slide-container {
    padding: 0;
  }
}
